#pfp{
	width: 100%;
	height: 357px;
	margin-bottom: 110px;
	background: #E7C582;
	border-radius: 30px;
}
#pfp-text{
	width: 750px;
	height: 500px;
	float: left;}
}
#cover{
width: 100%;
height: 250px;
}
#chess{
	height: 250px;
	width: 800px;
	padding-left: 80px;
}
#hello{
	height: 107px;
	width: 900px;
	background-color: gray;
	margin-left: 80px;
}
#hello-text{
	width: 700px;
	height: 80px;
	border-radius: 50px;
	margin-left: 40px;
	padding: 0;
}
#hello-text h1{
	color: white;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}
big{
	font-size: 35px;
	background-image: linear-gradient(#0065A2, #0065A2, #0065A2);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}



}
#about-details{
	width: 640px;
	height: 300px;
	float: left;
	margin-left: 50px;
}
#details{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgb(100, 100, 100, 0.8);
}
#details-text{
	width: 150px;
	height: 40px;

}
#details-text h1{
	background-image: linear-gradient(45deg, #1c75bc, #af4261);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	font-size: 20px;
	padding-left: 30px;
	font-family: 'Work Sans', sans-serif;
}
#row-1{
	width: 45%;
	height: 200px;
	float: left;
	margin-top: 15px;
	padding-left: 15px;
}
#row-2{
	width: 45%;
	height: 200px;
	float: left;
	margin-top: 15px;
}
#row-1 p{
	color: white;
	font-size: 17px;
	font-family: 'Work Sans', sans-serif;
	padding: 5px;
	margin: 5px;
	padding-left: 0px;
}
#row-2 p{
	color: white;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 2px;
}
#row-one{
	width: 22%;
	height: 200px;
	float: left;
	margin-top: 15px;
	padding-left: 15px;
}
#row-two{
	width: 22%;
	height: 200px;
	float: left;
	margin-top: 15px;
	margin-right: 23px;
}
#row-one p{
	color: black;
	font-size: 17px;
	font-family: 'Work Sans', sans-serif;
	padding: 5px;
	margin: 5px;
	padding-left: 0px;
}
#row-one h1{
	color: #06bec8;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding: 5px;
	margin: 5px;
	padding-left: 0px;
	text-decoration: none;
}
#row-two p{
	color:  black;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 2px;
}
#Im-web{
	width: 100%;
	height: 30px;
	margin-top: 190px;
}
#Im-web-title{
	width: 300px;
	height: 30px;
}
#Im-web-title h1{
	background-image: linear-gradient(#0065A2, #0065A2, #0065A2);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	font-size: 20px;
	padding-left: 30px;
	font-family: 'Work Sans', sans-serif;
}
#Im-web-text{
	width: 100%;
	height: 100px;

}
#Im-web-text h1{
	color: black;
	font-size: 15px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	font-family: 'Poppins', sans-serif;
}
